/* Hiệu ứng cho nút trong CreateCard */
.animated-btn {
  padding: 10px 20px;
  background-color: #2a52be;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.animated-btn:hover {
  background-color: #1d3e94;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
